@page
@model AspNetCore.Pages.SecureModel
@{
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2>Claims</h2>
            </div>
            <div class="card-body">
                <dl>
                    @foreach (var claim in Model.Claims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2>Properties</h2>
            </div>
            <div class=card-body>
                <dl>
                    @foreach (var prop in Model.Properties)
                    {
                        <dt>@prop.Key</dt>
                        <dd>@prop.Value</dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>